@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@import 'tailwindcss';

@theme inline {
  --color-background: oklch(0 0 0);
  --color-foreground: oklch(0.955 0 0);
  --color-muted: oklch(0.337 0 0);
  --color-muted-foreground: oklch(0.882 0 0);
  --color-border: oklch(0.26 0 0);

  --font-sans: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-mono: var(--font-mono);
  --font-display: var(--font-display);

  --breakpoint-xs: 30rem;
}

@utility bg-noise {
  background-image: image-set("/assets/noise.png" 1x, "/assets/noise@2x.png" 2x);
  background-repeat: repeat;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  * {
    @apply border-border;
  }

  :root {
    @apply font-sans flex-col flex min-h-full scheme-dark text-foreground bg-noise antialiased;
  }

  body {
    @apply lg:max-w-240 w-full mx-auto lg:border-x flex-1 flex flex-col;
  }

  main {
    @apply flex-1 border-b *:last:-mb-px;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}
